@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  background: #161513;
  color: white;
}

.navbar {
  align-items: center;
  margin: 20px 170px;
}

.navbar img {
  height: 100px;
  border: 2px solid;
  background: -webkit-linear-gradient(to right, #1565c0, #b92b27);
  border-color: linear-gradient(to right, #1565c0, #b92b27);
  border-radius: 50px;
}

.nav-menu {
  list-style: none;
  display: flex;
}
.nav_connect {
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 100%);
  border-radius: 20px;
  padding: 20px 40px;
  transition: 0.5s;
}

.nav_connect:hover {
  transform: scale(1.1);
}

/* hero component  */
.profile {
  height: 80vh;
  width: 70vw;
}
